body {
  margin: 0;
}

.App {
  text-align: center;
  background-color: #ffffff;
}

.App-logo {
  height: 3vw;
  pointer-events: none;
}

a {
  color: #99535c;
  text-decoration: none;
}

a:hover {
  color: #f0828f;
}

.nav-bar {
  display: flex;
  align-items: top;
  justify-content: left;
  min-height: 20vh;
  flex-direction: row;
  align-items: top;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #f8d9b9;
  padding: 8px 20px;
}

.home-link {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 35vw;
}

.home-link h1 {
  margin-left: 10px;
}

@media (min-width: 1200px) {
  .h1, h1 {
    font-size: 2rem;
  }
}

.site-menu {
  width: 65vw;
  justify-content: flex-end;
}

.site-menu ul {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.site-menu ul li {
  display: inline-block;
  padding-right: 10px;
}

.site-body {
  min-height: 70vh;
}

footer {
  height: 10vh;
}

h1 {

}
