.App {
  text-align: center;
  padding: 1vw;
  background-color: #f8d9b9;
}

.App-logo {
  height: 5vw;
  pointer-events: none;
}

a {
  color: #99535c;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  align-items: top;
  justify-content: left;
  min-height: 20vh;
  flex-direction: row;
  align-items: top;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-link {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 25vw;
}

.home-link h1 {
  margin-left: 20px;
  font-size: 5w;
}

.site-menu {
  width: 75vw;
}

.site-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: top;
}

.site-menu ul li {
  display: inline-block;
  padding-right: 10px;
}

.site-body {
  min-height: 70vh;
}

footer {
  height: 10vh;
}
